{{ define "main" }}
<div class="projects-section">

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/chameleon.png" | relURL }}' alt="Chameleon Cloud logo">
  <div class="project-info">
    <h3>Chameleon Cloud</h3>
    <p>Chameleon is a large-scale, deeply reconfigurable experimental platform built to support Computer Sciences systems research.</p>
    <div class="project-links">
      <a href="https://www.chameleoncloud.org/" target="_blank" rel="noopener">Website</a>
      <a href="https://twitter.com/ChameleonCloud" target="_blank" rel="noopener">Twitter/X</a>
      <a href="https://www.linkedin.com/company/chameleon-cloud/" target="_blank" rel="noopener">LinkedIn</a>
    </div>
  </div>
</div>

<!--
  Cloud Conversations uses a generic placeholder logo (cloud-conversations.svg) until a
  real logo is available; swap the src below when one exists.
  Project period Oct 1, 2026 – Sep 30, 2029; NSF awards #2609115 (UChicago/lead),
  #2609116 (TACC), #2609117 (Indiana/Jetstream2).
-->
<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/cloud-conversations.svg" | relURL }}' alt="Cloud Conversations placeholder logo">
  <div class="project-info">
    <h3>Cloud Conversations</h3>
    <p>Cloud Conversations is an NSF-funded project developing an AI-powered conversational interface that lets researchers plan, provision, and validate computing environments across open research infrastructure &mdash; such as <a href="https://www.chameleoncloud.org/">Chameleon</a> and <a href="https://jetstream-cloud.org/">Jetstream2</a> &mdash; using natural language, in partnership with <a href="https://www.tacc.utexas.edu/">TACC</a>.</p>
    <div class="project-links">
      <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2609115" target="_blank" rel="noopener">NSF Award</a>
    </div>
  </div>
</div>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/repeto.png" | relURL }}' alt="REPETO logo">
  <div class="project-info">
    <h3>REPETO</h3>
    <p>The REPETO (pronounce to rhyme with <a href="https://en.wikipedia.org/wiki/Geppetto">Geppetto</a>) project is an NSF-funded research coordination network (RCN) that promotes the concept of <em>practical reproducibility</em>.</p>
    <div class="project-links">
      <a href="https://repeto.cs.uchicago.edu/" target="_blank" rel="noopener">Website</a>
      <a href="https://www.linkedin.com/company/practicalrepro" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://twitter.com/PracticalRepro" target="_blank" rel="noopener">Twitter/X</a>
    </div>
  </div>
</div>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/fount.png" | relURL }}' alt="FOUNT logo">
  <div class="project-info">
    <h3>FOUNT</h3>
    <p>Scientists, educators, students, and the workforce at large require advanced skills to learn how to manage and process massive amounts of data efficiently and accurately.</p>
    <div class="project-links">
      <a href="https://fount.cs.uchicago.edu/" target="_blank" rel="noopener">Website</a>
      <a href="https://www.linkedin.com/company/founthandsonlearning/" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://twitter.com/fountproject" target="_blank" rel="noopener">Twitter/X</a>
    </div>
  </div>
</div>

<h2>Past Projects</h2>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/pposss.png" | relURL }}' alt="PPoSS logo">
  <div class="project-info">
    <h3>PPoSS (ScaleStuds)</h3>
    <p>Research on correctness checkability and performance predictability at scale.</p>
    <div class="project-links">
      <a href="https://pposss.cs.uchicago.edu/" target="_blank" rel="noopener">Website</a>
    </div>
  </div>
</div>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/fabric.png" | relURL }}' alt="FABRIC logo">
  <div class="project-info">
    <h3>FABRIC Testbed</h3>
    <p>FABRIC is an international network research infrastructure that enables network researchers to develop and test new architectures and protocols at scale.</p>
    <div class="project-links">
      <a href="https://fabric-testbed.net/" target="_blank" rel="noopener">Website</a>
    </div>
  </div>
</div>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/floto.png" | relURL }}' alt="FLOTO logo">
  <div class="project-info">
    <h3>FLOTO</h3>
    <p>The FLOTO project is a collaborative effort between the <a href="https://internetequity.uchicago.edu/">Internet Equity Initiative (IEI)</a> and the <a href="https://www.anl.gov/">Argonne National Lab</a>.</p>
    <div class="project-links">
      <a href="https://www.voices.uchicago.edu/floto" target="_blank" rel="noopener">Website</a>
    </div>
  </div>
</div>

<div class="project-item">
  <img class="project-logo" src='{{ "images/projects/bigdatax.png" | relURL }}' alt="BigDataX REU logo">
  <div class="project-info">
    <h3>BigDataX REU</h3>
    <p>BigDataX is an NSF Research Experiences for Undergraduates (REU) site in big data at the University of Chicago.</p>
    <div class="project-links">
      <a href="https://bigdatax.cs.uchicago.edu/" target="_blank" rel="noopener">Website</a>
    </div>
  </div>
</div>

</div>
{{ end }}
